

body {margin: 0 auto;}
@media (max-width: 50em) {
  body { width: 100%; }
  .navbar {
    text-align:center;
    text-align:center;
    img {
      margin: 25px 0 0 0 !important;
      position:relative !important;
      width: 200px !important;
    }
    #search-bar {
      font-size: 2em !important;
      width:calc(100% - 100px) !important;
      margin: 20px 0 0 40px !important;
    }
    #filters {
      input {
        font-size: .8em !important;
      }
      margin: 20px 0 30px 0 !important;
    }
  }

  .list-cont {
    font-size: 1.8em !important;
    padding: 80px 0 0 0 !important;
    li {
      min-width: 100% !important;
    }
    li:first-child {
      padding-top: 50px !important;
    }
    li:last-child {
      padding-bottom: 100px !important;
    }
    span {
      width: 60px !important;
    }
  }
}
@media (min-width: 50em) {body {width: 70%;}}
@media (min-width: 75em) {body {width: 60%;}}





.shadow-box{
  -webkit-box-shadow: 0 0 5px 2px #e0e0e0;
  -moz-box-shadow: 0 0 5px 2px #e0e0e0;
  box-shadow: 0 0 5px 2px #e0e0e0;
  border-right: 1px solid #999;
}
.navbar{
  min-height: 160px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  position: relative;
  overflow: auto;
  img {
    position: absolute;
    width: 165px;
    right: 0;
    margin: 25px 30px;
  }
  #search-bar {
    float: left;
    display: block;
    background: #e0e0e0;
    border: 0px;
    margin: 100px 0 0 40px;
    padding: 3px 10px 5px 10px;
    width: 300px;
    font-size: 1em;
  }
  #filters {
    float: left;
    display: block;
    margin: 2px 40px 13px 40px;
    input {
      margin: 8px 2px 0 0;
      -webkit-appearance: none;
      border: 1px solid #e0e0e0;
    }
  }
  input, select, textarea{
    color: black;
    outline: none;
  }
  textarea:focus, input:focus {
    color: black;
    outline: none;
    background: #e0e0e0;
  }
}



.ul-cont {
  position: relative;
  .list-cont {
      margin: 0;
      padding: 80px 0 0 0;
      // overflow: hidden;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      min-width: 15em;
       -webkit-flex: 1 1 15em; /* this */
       flex: 1;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    li {
      width: 25%;
      min-width: 200px;
      text-align: left;
      margin-top: -80px;
      padding: 5px 0 75px 0;
      border-left: solid 1px #999;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
    }
    li:last-child {
      padding-bottom: 30px;
    }
    .word {
      padding: 5px 0;
      &:hover {
        background: -webkit-linear-gradient(to right, #FFF013, #FFF013, white);
        background: -o-linear-gradient(to right, #FFF013, #FFF013, white);
        background: -moz-linear-gradient(to right, #FFF013, #FFF013, white);
        background: linear-gradient(to right, #FFF013, #FFF013, white);
      }
      &:active {
        background: -webkit-linear-gradient(to right, #ffdd13, #ffdd13, white);
        background: -o-linear-gradient(to right, #ffdd13, #ffdd13, white);
        background: -moz-linear-gradient(to right, #ffdd13, #ffdd13, white);
        background: linear-gradient(to right, #ffdd13, #ffdd13, white);
      }
      // &:hover .tooltip {
      //   display: inline;
      //   z-index: 100;
      //   transition: 0.2s ease all;
      // }
      // .tooltip {
      //   position: relative;
      //   background:#F8F8F8;
      //   border: solid 1px #999;
      //   color: #717171;
      //   font-size: 13px;
      //   padding: 20px;
      //   top: -60px;
      //   left: 50px;
      //   display:none;
      // }

    }
    .end-cap {
      border-top: 1px solid #999;
      -webkit-box-shadow: 0 1px 1px #e0e0e0;
      -moz-box-shadow: 0 1px 1px #e0e0e0;
      box-shadow: 0 1px 1px #e0e0e0;
    }
    span {
      font-size: .3em;
      float: left;
      width: 30px;
      text-align: right;
      margin: 5px 8px 0 0;
      vertical-align: text-bottom;
    }
  }
  .li-cap {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    background: white;
    border-top: solid #999 1px;
    border-left: solid #999 1px;
    border-bottom: solid #999 1px;
    box-sizing: border-box;
    &::after {
      content: "Busy Bee";
      display: none;
    }
  }
}
.footer {
  text-align: center;
  padding: 30px 0 15px 0;
  font-size: .8em;
}




.tooltip .more-info {
    z-index: 2;
    display: none;
    margin-top: 0px;
    margin-left: 120px;
    width: 330px;
    line-height: 15px;
    position: absolute;
}

.tooltip:hover .more-info {
    // border: 1px solid red;
    display: inline;
    padding: 30px 50px 30px 10px;
    box-sizing: border-box;
    .actual-info {
      font-size: .8em;
      background: #e0e0e0;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #999;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
}






.item {
  border: solid 1px #fff;
  background-color: #09e;
  box-sizing: border-box;
  color: #fff;
  padding: 8px;
}

[flex].item {
  -webkit-flex: 1 1 318px;
  flex: 1 1 318px;
}

